@font-face {
    font-family: Play;
    src: url("./Font/Play-Regular.ttf")
}

@font-face {
    font-family: Play-Bold;
    src: url("./Font/Play-Bold.ttf")
}

body {
    background-image: url("./Images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: Play;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Play-Bold;
    background-color: #ffffffad;
    margin-top: 500px;
    font-size: 56px;
}

h2 {
    font-family: Play;
    background-color: #ffffffad;
    margin-bottom: 500px;
}

.hcontainer {
    background-color: #ffffffad;
}

@media screen and (max-width:1024px) {
    h1 {
        margin-top: 250px;
    }
    h2 {
        margin-bottom: 250px;
    }
}