@font-face {
    font-family: Play;
    src: url("./Font/Play-Regular.ttf")
}

@font-face {
    font-family: Play-Bold;
    src: url("./Font/Play-Bold.ttf")
}

body {
    background-image: url("./Images/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    font-family: Play;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Play-Bold;
    background-color: #ffffffad;
    margin-top: 400px;
    font-size: 56px;
}

h2 {
    font-family: Play;
}

h3 {
    font-family: Play;
}

h5 {
    font-family: Play;
}

.hcontainer {
    background-color: #ffffffad;
}

.hdesc {
    margin-bottom: 400px;
}

.height {
    height: 430px;
}

@media screen and (max-width:1024px) {
    h1 {
        margin-top: 200px;
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
    }
    .hdesc {
        margin-bottom: 200px;
    }
}

@media screen and(max-width:768px) {
    p {
        font-size: 15px;
    }
    .height {
        height: 215px;
    }
}